<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">To Do LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>To Doリスト作成</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">今日やること</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
          <input type="submit" value="作成">
        </form>
      </div>
      <a href="/index" class="cancel-button"></span>戻る</a>
    </div>
  </body>
</html>
