<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">To Doリストアプリ</h2>
        <h1 class="title">To Do LIST</h1>
        <p class="description">
          To Do LISTは今日やることをメモしておくアプリです。
          <br>
          ToDoを追加し、完了すれば削除しましょう。
        </p>
        <a href="/index" class="index-button">To Do 一覧</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
